<% provide :title, "#{@user.name}" %>

<div class="row">

  <aside class="span4">
  <div>
    <%= gravatar_for(@user, size: 150) %>
  </div>
  <%= render @user %>
  </aside>

  <div class="row span8">
    <div>
      <%= render partial: 'shared/feed' %>
    </div>
  </div>

</div>

