<% questions.each do |question| %>
  <% if !question.user.nil? && !question.course.nil?%>
    <div class="question-block">
      <div class="question-block-username"><%= question.user.name %></div>
      <div class="question-block-content"><%= question.content %></div>
      <%= question.course.university.alias %>/<%= question.course.alias %>
    </div>
  <% end %>
<% end %>
