
<div class="row">
  <aside class="span4">
    <%= render current_user %>
  </aside>
  <div class="span8">
  	<%= render partial: 'questions/new', locals: {question: @question, array: @array} %>
    <%= render 'shared/feed' %>
  </div>
</div>
