
<div class="row">
  <aside class="span4">
    <div>
      <%= render current_user %>
    </div>
    <br> <!-- ugliest thing in HTML, this br -->
    <%= render partial: 'user_menu' %>
  </aside>

  <div class="row span8">
    <div>
      <%= render partial: 'question_form' %>
    </div>
    <div>
      <%= render partial: 'shared/feed' %>
    </div>
  </div>
</div>
