
<div class="row">
  <aside class="span4">
    <%= render current_user %>
  </aside>

  <div class="span8">
    <div>
      <%= render partial: 'question_form', locals: {sections: @sections} %>
    </div>
    <div>
      <%= render partial: 'shared/feed', locals: {:questions => questions} %>
    </div>

  </div>
</div>
