
<div class="row">
  <aside class="span4">
    <%= render current_user %>
    <br> <!-- ugliest thing in HTML, this br -->
    <%= render partial: 'user_menu' %>
  </aside>

  <div class="span8">
    <div>
      <%= render partial: 'question_form' %>
    </div>
    <div>
      <%= render partial: 'shared/feed' %>
    </div>

  </div>
</div>
