
@import "bootstrap";

/* general */

html {
  overflow-y: scroll;
}

body {
  padding-top: 120px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 60px;
}


/* HEADER style */

#logo {
  float: left;

  vertical-align: middle;
  //padding-top: 4px;
  //padding-bottom: 4px;
}

.btn-header {
  vertical-align: middle !important;
  //padding-top: 6px;
  //padding-bottom: 6px;
}

.btn-header:hover {
    background-color: #111111;
}

.btn-header-user:hover {
    background-color: #111111;
}


/* CONTENT styles */


/* Form submit buttons (sign in, sign up) */
.form-btn {
    margin-top: 10px;
    margin-bottom: 10px;
}



/* FOOTER style */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  padding-bottom: 26px;
  border-bottom: 1px solid #eaeaea;
  color: #999;
}

footer ul {
  float: right;
  margin-right: 20px;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;

  border-left: 1px solid #555;
  padding-left: 10px;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
  text-decoration: none;
}

