
@import "bootstrap";

/* general */

html {
  overflow-y: scroll;
}

body {
  padding-top: 120px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 60px;
}


/* HEADER style */

.btn-header {
  vertical-align: middle !important;
  line-height: 30px 	 
 //padding-top: 6px;
  //padding-bottom: 6px;
}
#logo{
  width: 135px;
  position: absolute;
  vertical-align:middle;
  margin-top: 9px; 	 
  // text-align:center; // 
  //display:inline;//
   
  
}
.btn-header:hover {
    background-color: #111111;
}

.btn-header-user:hover {
    background-color: #111111;
}


/* CONTENT styles */

#meniu{
		height: 700px;
}



/* Form submit buttons (sign in, sign up) */
.form-btn {
    margin-top: 10px;
    margin-bottom: 10px;
}



/* FOOTER style */

footer {
	
	width: 100%;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  padding-bottom: 26px;
  border-bottom: 1px solid #eaeaea;
  color: #999;
	position: fixed;
	bottom: 0;
}

footer ul {
  float: right;
  margin-right: 20px;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;

  border-left: 1px solid #555;
  padding-left: 10px;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
  text-decoration: none;
}

div.subitem a.list-group-item {
    padding-left: 30px;
}
